.container-weather {
    background-image: url(/img/cloud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    width: 50%;
    height: fit-content;
    background: #000000d0;
}

.search-box {
    margin-top: 2rem;
    position: relative;
    width: 90%;
}

.search-city {
    padding-left: 10px;
    border: 0;
    padding: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 1px solid #eee;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    outline: 0;
    border-bottom-color: #665856;
    color: white;
    width: 100%;
}

.search-label {
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(102, 99, 99);
}

.shake-message {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.change-position {
    color: white;
    font-size: 16px;
    top: -15px;
    transition: 1s;
}

.city-country {
    display: flex;
    justify-content: center;
}

.city-country p {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.date-time-box {
    display: flex;
    justify-content: center;
}

.date-time {
    color: white;
}

.temperature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
}

.temperature {
    color: white;
    font-weight: bold;
    font-size: 4rem;
}

.weather-condition-box {
    display: flex;
    justify-content: center;
}

.weather-condition {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.sub-weather {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.icon-box p,
.icon-box i {
    color: white;
}